@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: .5em;
    border: none;
    border-radius: 50%;
    outline: none;
    width: 44px;
    height: 44px;
    background-color: #7c7c7c2b;
    color: white;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #7c7c7c6b;
}


.searchbar {
    border: none;
    outline: none;
    padding: .4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-size: 120%;
    font-family: inherit;
    width: calc(100% - 100px);
}

.description {
    text-transform: capitalize;
}

.flex {
    display: flex;
    align-items: center;
}

.temp {
    margin-bottom: .4em;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}